In [2]:
import pandas as pd
import numpy as np

In [3]:
#Read json and show data as head

data_file = "purchase_data.json"
data_file_df = pd.read_json(data_file)

data_file_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
#check value counts of file and clean data

data_file_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [5]:
data_file_df.dtypes

Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
SN            object
dtype: object

In [6]:
#Isolate and display total unique player count in DataFrame

total_player_count = len(data_file_df["SN"].unique())
totalplayer_df = pd.DataFrame([{"Total Players": total_player_count}])

totalplayer_df

   Total Players
0            573

In [7]:
#Create a data frame to display the number of unique items, avg price, total number of purchases
#and total revenue. (Format to dollars)


unique_items_count = len(data_file_df["Item ID"].unique())
total_revenue = data_file_df["Price"].sum()
num_of_purchases = len(data_file_df["SN"])
avg_price = total_revenue / num_of_purchases

purch_anal_df = pd.DataFrame([{"Unique Items":unique_items_count,\
                              "Total Revenue":'$'+total_revenue.round(2).astype(str),\
                              "Number of Purchases":num_of_purchases,\
                              "Average Price":'$'+avg_price.round(2).astype(str)}])

purch_anal_df

  Average Price  Number of Purchases Total Revenue  Unique Items
0         $2.93                  780      $2286.33           183

In [8]:
#Create a data frame to display gender demographics, total counts and percentage of players

gender_count = data_file_df["Gender"].value_counts()
gender_count_df = pd.DataFrame(gender_count)
total_count = data_file_df["Gender"].count()
percent = ((gender_count_df["Gender"]/total_count)*100).round(2)
gender_count_df["Percentage of Players"] = percent

gender_count_df

                       Gender  Percentage of Players
Male                      633                  81.15
Female                    136                  17.44
Other / Non-Disclosed      11                   1.41

In [190]:
#Create a data frame to disolay the purchasing analysis by gender

gender_group = data_file_df.groupby(["Gender"])
purchase_count = gender_group.count()

purchase_count = purchase_count["Age"]
price_sum = gender_group["Price"].sum()
price_sum_df = pd.DataFrame(price_sum)

summary_table = pd.DataFrame({"Total Revenue":price_sum,"Purchase Count":purchase_count})
avg_price = '$'+(summary_table["Total Revenue"]/summary_table["Purchase Count"]).round(2).astype(str)
summary_table["Avg Price"] = avg_price

summary_table

                       Purchase Count  Total Revenue Avg Price
Gender
Female                            136         382.91     $2.82
Male                              633        1867.68     $2.95
Other / Non-Disclosed              11          35.74     $3.25

In [93]:
#Create a data frame to display the age demographics in bins

age_bins = [0,9,14,19,24,29,34,39,100]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]

age_series = pd.cut(data_file_df["Age"],age_bins, labels= bin_names)
data_file_df["Age Group"] = age_series

age_group = data_file_df.groupby("Age Group")
age_count = age_group["Age"].count()
age_count_df = pd.DataFrame(age_count)
age_count_df = age_count_df.rename(columns={"Age":"Total Count"})
age_count_df
age_percent = ((age_count_df["Total Count"]/total_player_count)*100).round(2)
age_count_df["Percentage of Players"]=age_percent

age_count_df

           Total Count  Percentage of Players
Age Group
<10                 28                   4.89
10-14               35                   6.11
15-19              133                  23.21
20-24              336                  58.64
25-29              125                  21.82
30-34               64                  11.17
35-39               42                   7.33
>40                 17                   2.97

In [94]:
#Create a data frame diplaying the purchasing analysis by age group

total_purchase_value = age_group["Price"].sum()
age_count_df["Total Purchase Value"] = total_purchase_value
age_count_df["Avg Purchase Price"] = (total_purchase_value / age_count_df["Total Count"]).round(2)

age_count_df

,Total Count,Percentage of Players,Total Purchase Value,Avg Purchase Price
Age Group,,,,
<10,28,4.89,83.46,2.98
10-14,35,6.11,96.95,2.77
15-19,133,23.21,386.42,2.91
20-24,336,58.64,978.77,2.91
25-29,125,21.82,370.33,2.96
30-34,64,11.17,197.25,3.08
35-39,42,7.33,119.40,2.84
>40,17,2.97,53.75,3.16

In [130]:
#Create a data frame to display the top 5 spenders by total purchase value

data_file_reduced1 = data_file_df.loc[:,["SN","Price"]]
data_file_reduced1.set_index("SN")

screennames = data_file_reduced1.groupby("SN")
value_sn = screennames["Price"].sum()
values_df = pd.DataFrame(value_sn)
valuse_df_sorted = values_df.sort_values("Price", ascending=False)

valuse_df_sorted.head(5)

             Price
SN
Undirrala66  17.06
Saedue76     13.56
Mindimnya67  12.74
Haellysu29   12.73
Eoda93       11.58

In [152]:
#Create a data frame to display the top 5 most popular items

data_file_reduced2 = data_file_df.loc[:,["Item ID","Item Name"]]
item_count = data_file_reduced2["Item ID"].value_counts()
item_df = pd.DataFrame(item_count)
item_top5 = item_df.rename(columns = {"Item ID":"Item Count"})

item_top5.head(5)

     Item Count
84           11
39           11
31            9
34            9
175           9

In [192]:
#Create a data frame to display the top 5 most profitable items

top_5_profit_df = data_file_df.loc[:,["Item ID", "Item Name", "Price"]]
item_group = top_5_profit_df.groupby("Item ID")
items_sum = item_group["Price"].sum()
items_sum_df = pd.DataFrame(items_sum)
items_sum_sorted = items_sum_df.sort_values("Price",ascending=False)

items_sum_sorted.head(5)

         Price
Item ID
34       37.26
115      29.75
32       29.70
103      29.22
107      28.88