In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read json and show data as head

data_file = "purchase_data.json"
data_file_df = pd.read_json(data_file)
data_file_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#check value counts of file and clean data

data_file_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [4]:
data_file_df.dtypes

Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
SN            object
dtype: object

In [5]:
#Isolate and display total unique player count in DataFrame
total_player_count = len(data_file_df["SN"].unique())
totalplayer_df = pd.DataFrame([{"Total Players": total_player_count}])
totalplayer_df

   Total Players
0            573

In [6]:
#Create a data frame to display the number of unique items, avg price, total number of purchases
#and total revenue. (Format to dollars)


unique_items_count = len(data_file_df["Item ID"].unique())
total_revenue = data_file_df["Price"].sum()
num_of_purchases = len(data_file_df["SN"])
avg_price = total_revenue / num_of_purchases

purch_anal_df = pd.DataFrame([{"Unique Items":unique_items_count,\
                              "Total Revenue":'$'+total_revenue.round(2).astype(str),\
                              "Number of Purchases":num_of_purchases,\
                              "Average Price":'$'+avg_price.round(2).astype(str)}])

purch_anal_df

  Average Price  Number of Purchases Total Revenue  Unique Items
0         $2.93                  780      $2286.33           183

In [25]:
#Create a data frame to display gender demographics, total counts and percentage of players

gender_count = data_file_df["Gender"].value_counts()
gender_count_df = pd.DataFrame(gender_count)

total_count = data_file_df["Gender"].count()
percent = ((gender_count_df["Gender"]/total_count)*100).round(2)

gender_count_df["Percentage of Players"] = percent
gender_count_df

                       Gender  Percentage of Players
Male                      633                  81.15
Female                    136                  17.44
Other / Non-Disclosed      11                   1.41

In [8]:
#Create a data frame to display purchase analysis by gender

#male_df = data_file_df.loc[data_file_df["Gender"]=="Male"]
#male_purchase_sum = male_df["Price"].sum()
#female_df = data_file_df.loc[data_file_df["Gender"]=="Female"]
#female_purchase_sum = (female_df["Price"].sum()).round(2)
#other_df = data_file_df.loc[data_file_df["Gender"]=="Other / Non-Disclosed"]
#other_purchase_sum = (other_df["Price"].sum()).round(2)

#purchase_count = data_file_df["Gender"].value_counts()
#purchase_count_df = pd.DataFrame(purchase_count)
#purchase_count_df

In [15]:
gender_group = data_file_df.groupby(["Gender"])
purchase_count = gender_group.count()
#gender_group_df = pd.DataFrame(gender_group.count()["Age"])
#gender_group_df
purchase_count = purchase_count["Age"]
purchase_count

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Age, dtype: int64

In [17]:
price_sum = gender_group["Price"].sum()
price_sum_df = pd.DataFrame(price_sum)
price_sum

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [40]:
summary_table = pd.DataFrame({"Total Revenue":price_sum,"Purchase Count":purchase_count})
avg_price = '$'+(summary_table["Total Revenue"]/summary_table["Purchase Count"]).round(2).astype(str)
summary_table["Avg Price"] = avg_price
summary_table

                       Purchase Count  Total Revenue Avg Price
Gender
Female                            136         382.91     $2.82
Male                              633        1867.68     $2.95
Other / Non-Disclosed              11          35.74     $3.25